[Unit]
Description=ROS Startup Service
#After=graphical-session.target
After=suspend.target

[Service]
Type=simple
WorkingDirectory=/home/roy/
# ExecStart=/usr/bin/bash -ic "/home/roy/test.sh"
ExecStart=/usr/bin/bash -ic "/home/roy/project/gui_ws/src/robot_control/auto_start_file/check_screen_locked.sh"
Restart=on-failure
RestartSec=5

[Install]
#WantedBy=default.target
WantedBy=after-resume.target

